<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesindex.css') }}">
</head>
<body>
    <h1>Selecciona un ejercicio</h1>
    <table class="button-table">
        <tr>
            <td>
                <a href="/ejercicio1" class="index-button">Ejercicio 1</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/ejercicio2" class="index-button">Ejercicio 2</a>
            </td>
        </tr>
    </table>
</body>
</html>
